@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
}
html, body {
  min-height: 100%;
}
body {
  background-size: cover;
  background: radial-gradient(at top left, rgb(115, 78, 250) 0%, rgb(64, 1, 116) 100%);

}
p {
  margin: 1rem auto;
  line-height: 1.5rem;
}

/* layout & nav */
.layout {
  max-width: 75rem;
  margin: 0 auto;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2.5rem auto;
}
nav .links {
  display: inline-block;
  text-align: right;
}
nav a {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: .5rem;
  border-bottom: 3px solid transparent;
  transition-duration: 0.4s;
}

nav a:hover {
  border-color: rgb(212, 147, 231);
  color: rgb(212, 147, 231);
}
nav a:active{
  border-color: rgb(212, 147, 231);
  border-bottom: 3px solid transparent;
}



footer p{
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 40px auto;
  font-weight: 300;
}

footer a{
  font-weight: 500;
  color: black;
}
footer a:hover{
  color: rgb(126, 126, 126);
}

@media(max-width: 768px){
  html{
    font-size: 45%;
  }
}
