.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem;
  align-items: right;
  padding-left: 6.25rem;
}
.header h5 {
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 0.625rem;
}
.header a {
  font-weight: 500;
  color: rgb(245, 8, 193);
}
.header a:hover {
  color: rgb(94, 0, 62);
}
.header h4 {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 0.625rem;
}
.btn {
  display: inline-block;
  background: #aa0000;
  padding: 0.625rem 1rem;
  border-radius: .5rem;
  margin-top: 1.25rem;
  font-weight: 600;
  transition-duration: 0.4s;
}
.btn:hover {
  background-color: rgb(250, 49, 190);
  color: rgb(59, 1, 1);
}
.res{
  text-align: center;
}
.res p{
  transition-duration: 0.4s;
  color: rgb(228, 15, 157);
  margin: .5rem;
}
.res a{
  margin-left: 1.25rem;
}
.res p:hover {
  color: rgb(126, 26, 112);
}
.res img{
  width: 2rem;
  height: 2rem;
}

.profile{
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
}

.btm {
  text-align: center;
  padding-top: 5rem;
  font-size: 1.5rem;
  font-weight: 200;
}
.btm h4 {
  padding-bottom: 6.25rem;
  font-weight: 400;
}

.icons {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3.125rem;
}

.icons img {
  height: 2.8rem;
  width: 2.8rem;
}

.icons p {
  font-size: 0.8rem;
  font-weight: 500;
}

@media(max-width: 768px){
  html{
    font-size: 45%;
  }
}
