.details h2 {
    font-size: 3.5em;
    margin-top: 80px;
  }
  .details h3 {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 2.5rem;
  }
  .html {
    margin-top: 2.5rem;
  }
  .featured {
    margin-bottom: 2.5rem;
  }
  
.pic{
  height: 1.8rem;
  width: 1.8rem;
}
.projectpic{
  height:25rem;
  width: 43.75rem;
  border: solid 1px white;
}
small{
  color:black;
}
small:hover {
  color:white;
}

@media(max-width: 768px){
  html{
    font-size: 45%;
  }
}
