.portfolio {
  text-align: center;
}
.portfolio > h2 {
  font-size: 3rem;
  margin-top: 5rem;
}
.portfolio > h3 {
  font-size: 2rem;
  font-weight: 400;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
  margin: 5rem 1.25rem;
}
.projects h3 {
  text-align: center;
  margin: 1.25rem auto 0px;
  font-weight: 500;
}
.projects p {
  color: rgb(245, 148, 208);
  margin-top: .25rem;
  font-weight: 500;
}

.border {
  border: solid 1px;
  border-radius: 25px 25px;
  box-shadow: 15px 25px 45px rgba(20, 15, 15, 0.4);
}

Link:hover{
  background-color:rgb(245, 148, 208);
}

@media(max-width: 768px){
  html{
    font-size: 45%;
  }
}